.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}
.form-control h6 {
  font-size: 10px;
}

.form-control input:focus {
  outline: none;
  background: #f6f6f6;
  border-color: #939393;
}

.form-control.invalid input {
  border-color: rgb(19, 15, 15);
  border-width: 2px;
  background: #868686;
}

.form-control.invalid label {
  color: rgb(149, 149, 149);
  font-weight: bolder;
}
.form-control.invalid select {
  background-color: rgb(149, 149, 149);
}
.description input {
  width: 40px;
  height: 10px;
}
